altgraph==0.17.5
packaging==26.3
pefile==2024.8.26
pillow==12.3.0
platformdirs==4.11.4
pygame-ce==2.5.8
pyinstaller==6.22.2
pyinstaller-hooks-contrib==2026.7
pystray==0.19.5
pywin32-ctypes==0.2.3
ruff==0.16.4
screeninfo==0.8.1
setuptools==84.0.0
six==1.17.0
websockets==17.0.1
